# .env.example
DATABASE_URL=postgresql://postgres:example@db:5432/postgres
SECRET_KEY=generate-a-secure-key-here
APP_ADMIN=Slava

MAIL_SERVER=mailpit
MAIL_PORT=1025
MAIL_USE_TLS=False
MAIL_USE_SSL=False
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_DEFAULT_SENDER="no-reply@brs.app"