{% extends 'base.html' %}
{% block title %}Add new drink{% endblock %}
{% block content %}
    <div class="container">
        <form action="{{ url_for('.add_drink') }}" method=post enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="name" placeholder="Name"
                       value="{{ request.form['name'] }}">
                <select class="form-select" id="type" name="type" aria-label="Type">
                    <option value="Water">Water</option>
                    <option value="Beer">Beer</option>
                    <option value="Vodka">Vodka</option>
                    <option value="Wiskey">Wiskey</option>
                    <option value="Cocktail">Cocktail</option>
                </select>
                <input class="form-control" type="text" name="description" placeholder="Description"
                       value="{{ request.form['description'] }}">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}