{% extends 'base.html' %}

{% block title %}All Drins in {{ bar['name'] }} {% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ bar['name'] }}</h1>
        <h2>{{ bar['city'] }}</h2>
        <h3>{{ bar['address'] }}</h3>
        <h4>{{ bar.get_user_name() }}</h4>
        {% include "includes/stars.html" %}
    </div>
    <div class="container">
        <h3>DRINKS</h3>
        <div class="card-group justify-content-center">
            {% for drink in bar['drinks'] %}
                <div class="card">
                    <img src="{{ drink['image'] }}" class="card-img-top" alt="Drink view">
                    <div class="card-body">
                        <h5 class="card-title">{{ drink['name'] }}</h5>
                        <p class="card-text">{{ drink['description'] }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ drink['type'] }}</small>
                        {% if drink['rate'] is not none %}
                            {% include "includes/rate_drink.html" %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}