<div class="col col-2">
    <div class="card col-3 offset-3" style="width: 11rem;">
        <img class="rounded mx-auto d-block"
             src="/static/icons/placeholder.png" alt="Reward icon" rad>
        <div class="card-body">
            <h3 class="card-title">Bar name: {{ bar['name'] }}</h3>
            <h4 class="card-title">Bar admin ID: {{ bar['admin_id'] }}</h4>
            <h4 class="card-title">Bar admin name: {{ bar.get_user_name() }}</h4>
            <h4 class="card-title">Bar address {{ bar['address'] }}</h4>
            <h4 class="card-title">Bar rating {{ bar.get_bar_rate() }}</h4>
            <h5>
                <button class="btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg>
                </button>
            </h5>
            <a style="background-color:grey" class="btn btn-danger"
            href="{{ url_for('.edit_bar', id=bar['id']) }}">
            Edit Bar
            </a>
            <a class="btn btn-primary"
            href="{{ url_for('.get_bar_drinks', id=bar['id']) }}">
            Get menu
            </a>
        </div>
    </div>
</div>