<div class="row">
        {% set full_stars = bar.get_bar_rate() | int %}
        {% set half_star = (bar.get_bar_rate() - full_stars) >= 0.5 %}
        {% set empty_stars = 5 - full_stars - (1 if half_star else 0) %}

        {% for _ in range(full_stars) %}
            <span style="width: 64px;height: 64px;"><img src="/static/icons/star.png" class="card-img-top" alt="Stars"></span>
        {% endfor %}

        {% if half_star %}
            <span style="width: 64px;height: 64px;"><img src="/static/icons/half-star.png" class="card-img-top" alt="Half star"></span>
        {% endif %}

        {% for _ in range(empty_stars) %}
            <span style="width: 64px;height: 64px;"><img src="/static/icons/empty-star.png" class="card-img-top" alt="Empty star"></span>
        {% endfor %}
        <p>{{ bar.get_bar_rate() }}</p>
</div>