<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        {% block head %}
            {% block styles %}
                {{ bootstrap.load_css() }}
            {% endblock %}
            <title>{% block title %}{% endblock %} - Main</title>
        {% endblock %}
    </head>
    <body style="background-color: #32354D;">
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">BRS</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.add_bar') }}">ADD BAR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.get_bars_list') }}">BARS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.add_drink') }}">ADD DRINK</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.get_drinks_list') }}">DRINKS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.logout') }}">Sing Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        {% endblock %}

        {% block content %}{% endblock %}
        {% block footer %}
        <div class="container-fluid text-center text-white bg-dark">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <span class="text-muted">© 2023 Haris York <a href="mailto:harisyork@outlook.com">harisyork@outlook.com</a></span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
            </footer>
        </div>
        {% endblock %}

        {% block body %}

        {% endblock %}
        {{ bootstrap.load_js() }}
    </body>
</html>