{% extends 'base.html' %}
{% import 'includes/pagination2.html' as macros %}

{% block title %}All drinks{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for drink in drinks %}
            <div class="col d-flex">
                <!-- Карточка напитка с мягкой границей и тёмным фоном -->
                {% include "includes/drink_card_admin.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% if pagination %}
        <div class="row row-cols-1 pagination">
            {{ macros.pagination_widget(pagination, '.get_drinks_list', id=drinks[0].id) }}
        </div>
    {% endif %}
{% endblock %}