{% extends "base.html" %}

{% block title %}BRS - Edit Profile [Admin Area]{% endblock %}

{% block content %}
    <div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="{{ editing_user.gravatar_url(size=100) }}" alt="Admin" class="img-rounded profile-thumbnail">
								<div class="mt-3">
									<h4>{{ editing_user.name }}</h4>
									<p class="text-muted font-size-sm">{{ editing_user.location }}</p>
									<button class="btn btn-primary">Follow</button>
									<button class="btn btn-outline-primary">Message</button>
								</div>
							</div>
							<hr class="my-4">
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<form class="mx-1 mx-md-4" action="{{ url_for('.edit_profile_admin', id=editing_user.id) }}" method=post>
							<div class="card-body">
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0"> Full Name</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="name" type="text" class="form-control" value="{{ editing_user.name }}">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Email</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="email" type="text" class="form-control" value="{{ editing_user.email }}">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Location</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="location" type="text" class="form-control" value="{{ editing_user.location }}">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Username</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="username" type="text" class="form-control" value="{{ editing_user.username }}">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">About</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="about_me" type="text" class="form-control" value="{{ editing_user.about_me }}">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Role</h6>
									</div>
									<select class="form-select" id="mySelector" name="role" aria-label="Default select example">
										<option value="{{ editing_user.role.id }}" selected>{{ editing_user.role.name }}</option>
										<option value="2">Moderator</option>
										<option value="3">Administrator</option>
									</select>
								</div>
								<div class="row">
									<div class="col-sm-3"></div>
									<div class="col-sm-9 text-secondary">
										<input type="submit" class="btn btn-primary px-4" value="Save Changes">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}